
@{
    ViewBag.Title = "Services";
}


<!-- services -->
<div class="services" id="services">
    <div class="container">
        <h3>Special Services</h3>
        <p class="aut">NH-51 National Tall TAX </p>
        <div class="wthree_services_grids">
            <div class="col-md-6 wthree_services_grid">
                <div class="col-xs-4 wthree_services_grid-left">
                    <div class="wthree_services_grid-left1">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-8 wthree_services_grid-right">
                    <h4>NH-51 Department 1</h4>
                    <p></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 wthree_services_grid">
                <div class="col-xs-4 wthree_services_grid-left">
                    <div class="wthree_services_grid-left1">
                        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-8 wthree_services_grid-right">
                    <h4>NH-51 Department 2</h4>
                    <p></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="wthree_services_grids">
            <div class="col-md-6 wthree_services_grid">
                <div class="col-xs-4 wthree_services_grid-left">
                    <div class="wthree_services_grid-left1">
                        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-8 wthree_services_grid-right">
                    <h4>NH-51 Department 4</h4>
                    <p></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 wthree_services_grid">
                <div class="col-xs-4 wthree_services_grid-left">
                    <div class="wthree_services_grid-left1">
                        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-8 wthree_services_grid-right">
                    <h4>NH-51 Department 5</h4>
                    <p></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>



